.footer {
  background: #000;
  padding: 20px 0;
  &__container {
    color: #fff;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;

    @media (min-width: 576px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    div {
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
