.section--projects {
  .section {
    &__content {
      margin-top: 30px;
      @media (min-width: 992px) {
        margin-top: 80px;
        padding-bottom: 30px;
      }
    }
    &__slide {
      @media (min-width: 576px) {
        padding: 0 25px;
      }
    }
    &__image {
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      height: 250px;
      @media (min-width: 576px) {
        height: 365px;
      }
    }
    &__title {
      font-family: Oswald;
      font-weight: 300;

      margin-top: 30px;
      font-size: 21px;
      line-height: 29px;
      @media (min-width: 576px) {
        font-size: 32px;
        line-height: 47px;
      }
    }
    &__description {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
      @media (min-width: 576px) {
        font-size: 22px;
        line-height: 27px;
      }
    }
  }
  .slick-list {
    @media (min-width: 576px) {
      margin: 0 -25px !important;
    }
  }
}
